* {
  border: 1px solid gold;
  margin: 0px;
  padding: 0px;
}
section {
  background-color: antiquewhite;
}
section > * {
  border: 3px blue solid;
}
p {
  font-family: sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: serif;
}
a {
  text-decoration: none;
  color: #4242ea;
}
ul {
    text-decoration-st;
}